.main {
  background: var(--color-background);
  color: var(--color-foreground);
  display: flex;
  flex-direction: column;
  max-width: 60rem;
  min-height: 100vh;
  min-width: 20rem;
  padding: 8.5rem 1rem;
  width: 100%;
}
